{% extends 'base.html' %}
{% block title %}Promo Codes{% endblock %}
{% block content %}
<h2>Promo Codes</h2>
<h4>Active Promo Codes</h4>
<table class="table table-bordered">
    <thead><tr><th>Code</th><th>Discount (%)</th><th>Valid From</th><th>Valid To</th></tr></thead>
    <tbody>
    {% for promo in active %}
        <tr>
            <td>{{ promo.code }}</td>
            <td>{{ promo.discount_percent }}</td>
            <td>{{ promo.valid_from|date:'d/m/Y' }}</td>
            <td>{{ promo.valid_to|date:'d/m/Y' }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="4">No active promo codes.</td></tr>
    {% endfor %}
    </tbody>
</table>
<h4>Archive</h4>
<table class="table table-bordered">
    <thead><tr><th>Code</th><th>Discount (%)</th><th>Valid From</th><th>Valid To</th></tr></thead>
    <tbody>
    {% for promo in archive %}
        <tr>
            <td>{{ promo.code }}</td>
            <td>{{ promo.discount_percent }}</td>
            <td>{{ promo.valid_from|date:'d/m/Y' }}</td>
            <td>{{ promo.valid_to|date:'d/m/Y' }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="4">No archived promo codes.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %} 